<launch>
  
  <arg name="publish_period" value="100"/>

  <!-- simulated rgbd head laser proyection position -->
  <node name="rgbd_head_laser_tf" pkg="tf" type="static_transform_publisher"
   args="0 0 0.1 0 0 0 bender/base_link bender/sensors/rgbd_head_laser_link $(arg publish_period)" ns="/bender/tf/"/>

  <!-- simulation position of grasped objects -->
  <node name="l_grasp_static_tf" pkg="tf" type="static_transform_publisher"
   args="0.0 -0.02 -0.18 0.0 1.57 0.0 bender/l_wrist_pitch_link bender/l_grasp_link $(arg publish_period)" ns="/bender/tf/"/>
  <node name="r_grasp_static_tf" pkg="tf" type="static_transform_publisher"
   args="0.0 -0.02 -0.18 0.0 1.57 0.0 bender/r_wrist_pitch_link bender/r_grasp_link $(arg publish_period)" ns="/bender/tf/"/>

</launch>
